.mq-project-image {
    width: 550px;
    height: 550px;
    object-fit: contain;
}

.mq-default-fg {
    color: #2F303A;
}

.mq-underline {
    text-decoration-thickness: 1px;
}

.mq-no-underline {
    text-decoration: none;
}