.mq-default-text {
    color: #2F303A;
    text-decoration: none;
}

.mq-logo {
    width: 75px;
    height: 75px;
}

.mq-link {
    color: #2F303A;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.mq-mb-1 {
    margin-bottom: -1px;
}
